@import 'components/global';

.checklist {

  margin-left: 0;
  list-style: none;

}

.item {

  display: flex;
  position: relative;
  text-align: left;
  background-position: left center;
  background-size: 0.8em;
  margin-bottom: $scale;
  align-items: center;
  line-height: $scale;
    
}

.icon {

  margin-right: $scale-3;

}