/* colours */
$c-bg: #F3F3FA;
$c-text: #030303;
$c-text-light: #64748b;
$c-border: #f1f5f9;
$c-border-dark: #cbd5e1;
$c-primary: #172554;
$c-dark: #1e293b;
$c-slate-100: #f1f5f9;
$c-slate-200: #e2e8f0;
$c-slate-300: #cbd5e1;
$c-slate-400: #94a3b8;
$c-slate-500: #64748b;
$c-slate-600: #475569;
$c-slate-700: #334155;
$c-slate-800: #1e293b;
$c-slate-900: #0f172a;

// social media
$c-facebook: #3b5998;
$c-twitter: #55acee;
$c-instagram: #405de6;
$c-youtube: #cd201f;
$c-pinterest: #bd081c;
$c-linkedin: #0077b5;
$c-microsoft: #D73A17;

$c-red: #ef4444;
$c-green: #10b981;
$c-blue: #2563eb;
$c-darkblue: #3A4488;
$c-orange: #F0AA61;
$c-tint: #FBFBFF;
$c-purple: #6363AC;
$c-darkpurple: #556CB6;
